
* {
    /*background-color: white;*/
    font-family: 'Lato', sans-serif;
}

p.abstractText {
    font-family: 'Cardo', serif;
}

.top {
    background-color: #fd9644;
    height: 0.15rem;
}

h2 {
    margin-top: 1rem;
    font-weight: 100;
}

.main-picture {
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ), image("images/chamaleon.jpg");
    position: relative;
}

.top-left-main-picture {
    font-size: 2rem;
    color: #fff;
    font-family: sans-serif;
    position: absolute;
    top: 10rem;
    left: 7rem;
}

.top-left-main-picture-sm {
    font-size: 2rem;
    color: #fff;
    font-family: sans-serif;
    position: absolute;
    top: 0.5rem;
    left: 3rem;
}

.top-main-picture {
    position: absolute;
    top: 2rem;
    right: 10%;
    color: #fff;
}

a.nav-link {
    color: white;
}



.DAAD {
    color: green;
}

.fab {
    font-size: 2rem;
}

.social-media-text {
    font-size: 0.8rem;
}

.finaldiv {
    background-color: white;
    height: 5rem;
}




.figure2 {
    width: 50%;
}

.figure3 {
    width: 25%
}

.logo {
    filter: grayscale(50%);
    width: 50%;
}



.text {
    font-size: 0.75rem;
}